Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio --fix

fix: correct SCSS syntax errors and AWS CDK RemovalPolicy
  libraries/promare-gradients/src/scss/_variables.scss
  platform/message-bus/stacks/message-bus.stack.ts
  tools/scripts/setup-aws-cdk-env.sh
Due: prettier --write, eslint --format visualstudio --fix

feat: add env to stacks
  README.md
  clients/admin-client/bin/app.ts
  clients/admin-client/project.json
  clients/design-system/bin/app.ts
  clients/design-system/project.json
  clients/jukebox/bin/app.ts
  clients/jukebox/project.json
  clients/player-client/bin/app.ts
  clients/player-client/project.json
  nx.json
  platform/pipeline/project.json
  services/billing-system/bin/app.ts
  services/billing-system/project.json
  services/character-sheet/bin/app.ts
  services/character-sheet/project.json
  services/dialogue-service/project.json
  services/dynamo-image/bin/app.ts
  services/dynamo-image/project.json
  services/email-service/bin/app.ts
  services/email-service/project.json
  services/html-to-pdf/bin/app.ts
  services/html-to-pdf/project.json
  services/instances/bin/app.ts
  services/instances/project.json
  services/luck-by-dice/bin/app.ts
  services/luck-by-dice/project.json
  services/player-achievements/bin/app.ts
  services/player-achievements/project.json
  services/user-service/bin/app.ts
  services/user-service/project.json
  services/weather-control/bin/app.ts
  services/weather-control/project.json
  tools/scripts/setup-aws-cdk-env.sh
Due: prettier --write, eslint --format visualstudio --fix

Fix SCSS syntax errors in promare-gradients variables (#926)
  libraries/promare-gradients/src/scss/_variables.scss
Due: none

fix: disalogue services
  services/dialogue-service/project.json
Due: prettier --write

fix: cdk synth in ci
  nx.json
Due: prettier --write

feat: set middlewhare stack env
  middleware/api/bin/app.ts
  middleware/graphql/bin/app.ts
  nx.json
Due: prettier --write, eslint --format visualstudio --fix

chore: recommend npm-version-lens extension
  .vscode/extensions.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --format visualstudio --fix: any of: *.{ts,tsx}
