Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio --fix

feat: add mdx support and ds introduction
  clients/design-system/.storybook/main.ts
  clients/design-system/README.md
  clients/design-system/package.json
  clients/design-system/stories/Introduction.stories.mdx
  pnpm-lock.yaml
Due: prettier --write, eslint --format visualstudio --fix

feat: add draw dialogue
  clients/design-system/src/game-assets/IsometricCanvas/DrawDialogue.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/README.md
Due: prettier --write, eslint --format visualstudio --fix

fix: add pid process wait to deploy and libssl to cd
  .github/workflows/call-coverage.yml
  .github/workflows/call-test.yml
  project.json
  tools/scripts/cdk-deploy-sandbox.sh
  tools/scripts/cdk-deploy-tools-account.sh
Due: prettier --write

feat: set ubuntu version in unit test
  .github/workflows/call-coverage.yml
  .github/workflows/call-test.yml
  .prettierrc
  .prettierrc.js
Due: none

feat: dynamically set object width
  clients/design-system/src/game-assets/IsometricCanvas/Dialogue.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/DrawDialogue.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvasProps.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
Due: prettier --write, eslint --format visualstudio --fix

feat: make isometriccanvas full width of page
  clients/design-system/.storybook/main.ts
  clients/design-system/.storybook/preview.ts
  clients/design-system/package.json
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.scss
  pnpm-lock.yaml
  tools/scripts/cdk-deploy-sandbox.sh
Due: prettier --write, eslint --format visualstudio --fix

feat: separate bootstrap from global deploy
  README.md
  project.json
  tools/scripts/cdk-bootstrap-sandbox.sh
  tools/scripts/cdk-bootstrap-tools-account.sh
  tools/scripts/cdk-deploy-sandbox.sh
Due: prettier --write

feat: build after sso
  tools/scripts/cdk-bootstrap-sandbox.sh
  tools/scripts/cdk-bootstrap-tools-account.sh
  tools/scripts/cdk-deploy-affected-sandbox.sh
  tools/scripts/cdk-deploy-sandbox.sh
  tools/scripts/cdk-deploy-tools-account.sh
Due: none

feat: add debug mark to isometric render
  clients/design-system/src/game-assets/IsometricCanvas/DrawCoordinates.ts
  clients/design-system/src/game-assets/IsometricCanvas/DrawDialogue.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: improve cursor to grid logic
  clients/design-system/src/game-assets/IsometricCanvas/DrawCoordinates.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricTransformer.ts
Due: prettier --write, eslint --format visualstudio --fix

fix: unit tests for tag detection
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.test.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: improve position of dialogue box
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: improve dialogue accuracy
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvasProps.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricTransformer.ts
  clients/design-system/src/game-assets/IsometricCanvas/README.md
  clients/design-system/src/game-assets/IsometricCanvas/draw/DrawCoordinates.ts
  clients/design-system/src/game-assets/IsometricCanvas/draw/DrawDialogue.ts
  clients/design-system/src/game-assets/IsometricCanvas/draw/DrawDiamond.ts
  clients/design-system/src/game-assets/IsometricCanvas/draw/SpriteMap.test.ts
  clients/design-system/src/game-assets/IsometricCanvas/draw/SpriteMap.ts
  clients/design-system/src/game-assets/IsometricCanvas/hideWalls.test.ts
  clients/design-system/src/game-assets/IsometricCanvas/hideWalls.ts
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useResize.ts
  clients/design-system/src/game-assets/IsometricCanvas/index.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Coordinates.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Dialogue.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Direction.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/IsometricCanvasVariant.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/SpriteMapRegistry.type.ts
  clients/design-system/src/game-assets/index.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add background colors
  clients/design-system/src/game-assets/IsometricCanvas/GridDimensions.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.scss
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvasProps.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricTransformer.ts
  clients/design-system/src/game-assets/IsometricCanvas/TileDimensions.ts
  clients/design-system/src/game-assets/IsometricCanvas/draw/DrawCoordinates.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/BackgroundColor.type.ts
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
  clients/design-system/stories/game-assets/data/Field.json
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add field sample
  clients/design-system/public/game-assets/tileset-4x4.png
  clients/design-system/stories/game-assets/data/Field.json
Due: prettier --write

feat: move bg color and camera into own hook
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useArrowKeyMoveCamera.ts
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useCanvasClassNames.ts
  clients/design-system/stories/Introduction.stories.mdx
Due: prettier --write, eslint --format visualstudio --fix

feat: add sewer walls
  clients/design-system/public/game-assets/sewer-tileset-4x4.png
  clients/design-system/public/game-assets/sewer-tileset-4x4.psd
  clients/design-system/public/game-assets/sewer-wall-8x1.png
  clients/design-system/public/game-assets/sewer-wall-8x1.psd
  clients/design-system/public/game-assets/tileset-4x4.png
  clients/design-system/public/game-assets/tileset-4x4.psd
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.scss
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useCanvasClassNames.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/BackgroundColor.type.ts
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write, eslint --format visualstudio --fix

feat: improve sewer
  clients/design-system/public/game-assets/sewer-tileset-4x4.png
  clients/design-system/public/game-assets/sewer-tileset-4x4.psd
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write

feat: add holes in sewer walls
  clients/design-system/public/game-assets/sewer-wall-8x1.png
  clients/design-system/public/game-assets/sewer-wall-8x1.psd
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write

feat: add sewer wall grate and blue barrel
  clients/design-system/public/game-assets/sewer-barrel-1x1.png
  clients/design-system/public/game-assets/sewer-barrel-1x1.psd
  clients/design-system/public/game-assets/sewer-wall-8x1.png
  clients/design-system/public/game-assets/sewer-wall-8x1.psd
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write

feat: add door to sewer
  clients/design-system/public/game-assets/sewer-tileset-4x4.png
  clients/design-system/public/game-assets/sewer-tileset-4x4.psd
  clients/design-system/public/game-assets/sewer-wall-8x1.png
  clients/design-system/public/game-assets/sewer-wall-8x1.psd
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write

feat: flesh in actor rendering
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.scss
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvasProps.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useCanvasClassNames.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Actor.type.ts
  clients/design-system/stories/game-assets/data/Field.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add actors to all isometric demos
  clients/design-system/stories/game-assets/data/Sewer.json
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write

feat: add dialogue above actor
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Actor.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Dialogue.type.ts
  clients/design-system/stories/game-assets/data/Field.json
  clients/design-system/stories/game-assets/data/Sewer.json
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add meeku oni sprite to actor
  clients/design-system/public/game-assets/sprites/meeku-oni/walk-10x4.png
  clients/design-system/public/game-assets/sprites/shadow-1x1.png
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/colors.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add character spriteMapRegistry
  clients/design-system/public/game-assets/sprites/chubbs/idle-1x1.png
  clients/design-system/public/game-assets/sprites/malace-tsia/idle-1x1.png
  clients/design-system/public/game-assets/sprites/meeku-oni/idle-1x1.png
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Actor.type.ts
  clients/design-system/stories/game-assets/data/Field.json
  clients/design-system/stories/game-assets/data/Sewer.json
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add interval call to draw canvas for animations
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useArrowKeyMoveCamera.ts
  clients/design-system/src/game-assets/IsometricCanvas/hooks/useInterval.ts
  clients/design-system/stories/game-assets/data/actors/chubbs.json
  clients/design-system/stories/game-assets/data/actors/malace-tsia.json
  clients/design-system/stories/game-assets/data/actors/meeku-oni.json
  clients/design-system/stories/game-assets/data/areas/sewer-system.json
  clients/design-system/stories/game-assets/data/areas/train-station.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add utils folder to IsometricCanvas
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/draw/DrawCoordinates.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/GridDimensions.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.test.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricTransformer.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/SpriteDimensions.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/colors.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/hideWalls.test.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/hideWalls.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add grid animations
  clients/design-system/package.json
  clients/design-system/public/game-assets/sewer-tileset-4x4.png
  clients/design-system/public/game-assets/sewer-tileset-4x4.psd
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvasProps.ts
  clients/design-system/src/game-assets/IsometricCanvas/README.md
  clients/design-system/src/game-assets/IsometricCanvas/draw/SpriteMap.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Animation.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.ts
  clients/design-system/stories/game-assets/data/Sewer.json
  pnpm-lock.yaml
Due: prettier --write, eslint --format visualstudio --fix

feat: add support for varying grid sprite animations
  clients/design-system/public/game-assets/sewer/barrel-1x1.png
  clients/design-system/public/game-assets/sewer/barrel-1x1.psd
  clients/design-system/public/game-assets/sewer/rat-1x1.png
  clients/design-system/public/game-assets/sewer/spill-1x1.png
  clients/design-system/public/game-assets/sewer/tileset-4x4.png
  clients/design-system/public/game-assets/sewer/tileset-4x4.psd
  clients/design-system/public/game-assets/sewer/wall-8x1.png
  clients/design-system/public/game-assets/sewer/wall-8x1.psd
  clients/design-system/src/game-assets/IsometricCanvas/types/Actor.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Animation.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.ts
  clients/design-system/stories/game-assets/data/Sewer.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add shadow under doors
  clients/design-system/public/game-assets/sewer/spill-1x1.png
  clients/design-system/public/game-assets/sewer/tileset-4x4.png
  clients/design-system/public/game-assets/sewer/wall-8x1.png
  clients/design-system/public/game-assets/sewer/wall-8x1.psd
  clients/design-system/public/game-assets/wall-8x1.png
  clients/design-system/src/game-assets/IsometricCanvas/IsometricCanvas.tsx
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write, eslint --format visualstudio --fix

feat: slow down sewer water and add bank detail
  clients/design-system/public/game-assets/sewer/tileset-4x4.png
  clients/design-system/public/game-assets/sewer/tileset-4x4.psd
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write

feat: separate movement from animation
  clients/design-system/src/game-assets/IsometricCanvas/types/Actor.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/ActorState.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Animation.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Movement.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Position.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.ts
  clients/design-system/stories/game-assets/data/Field.json
  clients/design-system/stories/game-assets/data/Sewer.json
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add target position logic
  clients/design-system/src/game-assets/IsometricCanvas/models/Actor.model.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Actor.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Movement.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.ts
  clients/design-system/stories/game-assets/data/Field.json
  clients/design-system/stories/game-assets/data/Sewer.json
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add actor animation base frame
  clients/design-system/src/game-assets/IsometricCanvas/models/Actor.model.ts
  clients/design-system/src/game-assets/IsometricCanvas/types/Animation.type.ts
  clients/design-system/src/game-assets/IsometricCanvas/utils/IsometricRender.ts
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write, eslint --format visualstudio --fix

feat: update readme intro
  README.md
Due: prettier --write

feat: add sewer rat animation
  clients/design-system/public/game-assets/sewer/rat-1x1.png
  clients/design-system/public/game-assets/sewer/rat-3x1.png
  clients/design-system/stories/game-assets/data/Sewer.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --format visualstudio --fix: any of: *.{ts,tsx}
