Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio --fix

feat: add z first rendering as to prevent z overlay
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add centering for object walls
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
Due: prettier --write, eslint --format visualstudio --fix

feat: refactor tiles to sprites
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add four walls
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
Due: prettier --write, eslint --format visualstudio --fix

feat: add spritemap tags and fix coverage-fusion tag
  clients/design-system/src/game-assets/IsometricCanvas/README.md
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.test.ts
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
  clients/design-system/src/game-assets/IsometricCanvas/hideWalls.test.ts
  clients/design-system/src/game-assets/IsometricCanvas/hideWalls.ts
  tools/coverage-fusion/README.md
  tools/coverage-fusion/package.json
Due: prettier --write, eslint --format visualstudio --fix

fix: coverage fusion badges
  tools/coverage-fusion/README.md
  tools/coverage-fusion/package.json
Due: prettier --write

feat: add info to archetype
  services/character-sheet/src/data/archetypes/three-cats.archetype.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add primative wall hiding logic
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add opacity to sprite print options
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add train demo
  clients/design-system/public/game-assets/seat-4x1.png
  clients/design-system/public/game-assets/switches-4x1.png
  clients/design-system/public/game-assets/train-ground-4x2.png
  clients/design-system/src/game-assets/IsometricCanvas/SpriteMap.ts
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
Due: prettier --write, eslint --format visualstudio --fix

feat: add train canvas story
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
  services/character-sheet/src/data/affiliations.ts
  services/character-sheet/src/data/archetypes/soliders.archetype.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: update readme
  README.md
Due: prettier --write

feat: add test coverage for coverage fusion
  README.md
  nx.json
  tools/coverage-fusion/src/find-files-recursively.ts
  tools/coverage-fusion/src/make-coverage-report.test.ts
  tools/coverage-fusion/src/merge-coverage-reports.test.ts
Due: prettier --write, eslint --format visualstudio --fix

feat: add test coverage for coverage fusion
  nx.json
Due: prettier --write

feat: add nx release config
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add train storage car demo
  clients/design-system/public/game-assets/shelf-1x1.png
  clients/design-system/stories/game-assets/IsometricCanvas.stories.tsx
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

chore: disable prettier on json
  .prettierignore
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write

chore: change storybook icon in readme
  clients/design-system/README.md
Due: prettier --write

chore(release): publish
  clients/design-system/CHANGELOG.md
  clients/design-system/package.json
Due: prettier --write

chore: add nx release to readme
  README.md
Due: prettier --write

feat: separate train walls from flooring
  clients/design-system/public/game-assets/metal-shelf-1x1.png
  clients/design-system/public/game-assets/trainwall-8x1.png
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write

fix: vite deploy issue
  clients/design-system/.storybook/main.ts
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add transparent walls
  clients/design-system/public/game-assets/seat-4x1.png
  clients/design-system/src/game-assets/IsometricCanvas/DrawDiamond.ts
  clients/design-system/src/game-assets/IsometricCanvas/IsometricRender.ts
  clients/design-system/stories/game-assets/data/TrainCar.json
  clients/design-system/stories/game-assets/data/TrainRoom.json
  clients/design-system/stories/game-assets/data/TrainStorageCar.json
Due: prettier --write, eslint --format visualstudio --fix

feat: add help to base readme
  README.md
  tools/help.sh
Due: prettier --write

fix: markdown bash end
  README.md
Due: prettier --write

feat: add galaxyops commands
  README.md
  nx.json
  package.json
  platform/pipeline/project.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project.json
Due: prettier --write

feat: include sso in galaxy ops deploy cmd
  README.md
  project.json
Due: prettier --write

feat: add menu bar icon animation
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/AppBarIcon/AppBarIcon.test.tsx
  clients/design-system/src/components/AppBarIcon/AppBarIcon.tsx
  clients/design-system/src/components/AppBarIcon/style.module.scss
  clients/design-system/src/index.scss
Due: prettier --write, eslint --format visualstudio --fix

fix: linting issue in app bar
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/AppBarIcon/AppBarIcon.tsx
  clients/design-system/src/components/AppBarIcon/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/index.scss
Due: prettier --write, eslint --format visualstudio --fix

feat: add asmin dialogues
  clients/design-system/public/brand/nekos-gate.png
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/AppBarIcon/style.module.scss
  clients/design-system/stories/web-assets/pages/TopicFront.stories.tsx
  services/dialogue-service/public/en/acts/1_cradle/dialogues/where-is-your-bro.ink
  services/dialogue-service/public/en/acts/2_soldiers-bed/README.md
  services/dialogue-service/public/en/acts/6_cats-eye/dialogues/asmin-sin-explained.ink
  services/dialogue-service/public/en/acts/6_cats-eye/dialogues/asmin.ink
Due: prettier --write, eslint --format visualstudio --fix

feat: lighten navbar
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
Due: prettier --write, eslint --format visualstudio --fix

feat: add mobile menu
  clients/design-system/.storybook/preview.ts
  clients/design-system/package.json
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/AppBar/useBodyScrollLock.test.tsx
  clients/design-system/src/components/AppBar/useBodyScrollLock.tsx
  clients/design-system/src/components/AppBar/useMenuResize.tsx
  clients/design-system/src/components/AppBarIcon/AppBarIcon.tsx
  clients/design-system/stories/web-assets/pages/TopicFront.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --format visualstudio --fix

fix: linting issue
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/AppBarIcon/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
Due: none

chore(release): publish
  clients/design-system/CHANGELOG.md
  clients/design-system/package.json
  platform/pipeline/CHANGELOG.md
  platform/pipeline/package.json
  services/dialogue-service/CHANGELOG.md
  services/dialogue-service/package.json
Due: prettier --write

feat: add nekosgate storybook theme
  clients/design-system/.storybook/manager.ts
  clients/design-system/.storybook/theme.ts
  clients/design-system/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --format visualstudio --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --format visualstudio --fix: any of: *.{ts,tsx}
